body{
    margin: 0;
    padding: 0;
    background: #607D8B;
}

.box{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    transform: perspective(1000px) rotateY(-45deg);
    width: 400px;
    height: 200px;
    transform-style: preserve-3d;
    background: wheat;
}

.box div{
   position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 80%;
    transform-style: preserve-3d;
    animation: animate 3s linear infinite;
    background: linear-gradient(0deg, #f1f1f1, #bbb, #f1f1f1);
    border-radius: 20px;

}
/*
.box div span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #f1f1f1, #bbb, #f1f1f1);
    border-radius: 20px;
}

.box div span:nth-child(1){
    transform: rotateX(0deg);
}
.box div span:nth-child(2){
    transform: rotateX(45deg);
}.box div span:nth-child(3){
    transform: rotateX(-45deg);
}.box div span:nth-child(4){
    transform: rotateX(90deg);
}

 @keyframes animate{

     0%{
         transform: perspective(1000px) rotateX(0deg);
     }
     100%{
         transform: perspective(1000px) rotateX(359deg);
     }
 }

 .box2{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     border: 3px solid #01fe87;
     background: #255467;
 transform: perspective(50px) rotateY(5deg)
 }*/

/*
 .but{
     width: 200px;
     height: 325px;
     background: wheat;
 }

#div1 {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 60px;
    border: 1px solid blue;
    perspective: 100px;
    background: aliceblue;
}

.div2 {
    padding: 50px;
    position: absolute;
    border: 1px solid black;
    background-color: red;
    background: wheat;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}
.div2:nth-child(2){
    transform: rotateX(75deg);
    background: red;

}
